.container {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

#root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cart {
    width: 40%;
    border-radius: 5px;
    background-color: #dea13e;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}